
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/sweetalert2.min.css">

<style>
    .btn span.glyphicon {
        opacity: 0;
    }

    .btn.active span.glyphicon {
        opacity: 1;
    }

    div > img {
        height: auto;
        width: 100%;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Product</h2>
            <button class="btn btn-success" data-target="#addProductModal" data-toggle="modal" style="margin-bottom:10px">
                <i class="fa fa-plus"></i>
                Add new product
            </button>
            @* ------------------PRODUCT DATATABLE---------------- *@
            <table id="productTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Supplier</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Update</th>
                    </tr>
                </thead>
            </table>

            @* ------ADD NEW PRODUCT MODAL---------- *@
            <div class="modal" id="addProductModal" tabindex="-1">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add new product</h4>
                            @*<button class="close" data-dismiss="modal">&times;</button>*@
                        </div>
                        <div class="modal-body">
                            <form method="post" enctype="multipart/form-data" id="AddProductForm">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input class="form-control" type="text" id="productName" />
                                </div>
                                <div class="form-group">
                                    <label>Size</label><br />
                                    <div class="checkbox-inline">
                                        <input type="checkbox" id="X" name="size" value="X" />
                                        <label>X</label>
                                    </div>
                                    <div class="checkbox-inline">
                                        <input type="checkbox" id="M" name="size" value="M" />
                                        <label>M</label>
                                    </div>
                                    <div class="checkbox-inline">
                                        <input type="checkbox" id="L" name="size" value="L" />
                                        <label>L</label>
                                    </div>
                                    <div class="checkbox-inline">
                                        <input type="checkbox" id="XL" name="size" value="XL" />
                                        <label>XL</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Color</label><br />
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-success">
                                            <input type="checkbox" id="green" name="color" value="Green" autocomplete="off">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="checkbox" id="blue" name="color" value="Blue" autocomplete="off">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" id="white" name="color" value="White" autocomplete="off">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </label>
                                        <label class="btn btn-warning">
                                            <input type="checkbox" id="yellow" name="color" value="Yellow" autocomplete="off">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </label>
                                        <label class="btn btn-danger">
                                            <input type="checkbox" id="red" name="color" value="Red" autocomplete="off">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <input class="form-control" type="text" id="description" />
                                </div>
                                <div class="form-group">
                                    <label>Category</label><br />
                                    <select id="category" class="form-control"></select>
                                </div>
                                <div class="form-group">
                                    <label>Supplier</label><br />
                                    <select id="supplier" class="form-control"></select>
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <input class="form-control" type="text" id="price" />
                                </div>
                                <div class="form-group">
                                    <label>Image</label>
                                    <input type="file" class="upload" runat="server" id="image" accept="image/png, image/jpeg" multiple="multiple" />
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="submit" id="btnAddProduct" class="btn btn-primary">Add</button>
                            <button class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            @* ------UPDATE PRODUCT MODAL---------- *@
            <div class="modal" id="editProductModal" tabindex="-1">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit product</h4>
                            @*<button class="close" data-dismiss="modal">&times;</button>*@
                        </div>
                        <div class="modal-body">
                            <form method="post" enctype="multipart/form-data" id="EditProductForm">
                                <input class="form-control" type="hidden" id="productId" />
                                <div class="form-group">
                                    <label>Name</label>
                                    <input class="form-control" type="text" id="productName2" />
                                </div>
                                <div class="form-group">
                                    <label>Size</label><br />
                                    <div class="checkbox-inline">
                                        <input type="checkbox" id="editX" name="size2" value="X" />
                                        <label>X</label>
                                    </div>
                                    <div class="checkbox-inline">
                                        <input type="checkbox" id="editM" name="size2" value="M" />
                                        <label>M</label>
                                    </div>
                                    <div class="checkbox-inline">
                                        <input type="checkbox" id="editL" name="size2" value="L" />
                                        <label>L</label>
                                    </div>
                                    <div class="checkbox-inline">
                                        <input type="checkbox" id="editXL" name="size2" value="XL" />
                                        <label>XL</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Color</label><br />
                                    <div class="btn-group" data-toggle="buttons">
                                        <label id="btnGreen" class="btn btn-success">
                                            <input type="checkbox" id="editGreen" name="color2" value="Green" autocomplete="off">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </label>
                                        <label id="btnBlue" class="btn btn-primary">
                                            <input type="checkbox" id="editBlue" name="color2" value="Blue" autocomplete="off">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </label>
                                        <label id="btnWhite" class="btn btn-default">
                                            <input type="checkbox" id="editWhite" name="color2" value="White" autocomplete="off">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </label>
                                        <label id="btnYellow" class="btn btn-warning">
                                            <input type="checkbox" id="editYellow" name="color2" value="Yellow" autocomplete="off">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </label>
                                        <label id="btnRed" class="btn btn-danger">
                                            <input type="checkbox" id="editRed" name="color2" value="Red" autocomplete="off">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <input class="form-control" type="text" id="description2" />
                                </div>
                                <div class="form-group">
                                    <label>Category</label><br />
                                    <select id="category2" class="form-control"></select>
                                </div>
                                <div class="form-group">
                                    <label>Supplier</label><br />
                                    <select id="supplier2" class="form-control"></select>
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <input class="form-control" type="text" id="price2" />
                                </div>
                                <div class="form-group">
                                    <label>Image</label>
                                    <input type="file" class="upload" runat="server" id="image" accept="image/png, image/jpeg" multiple="multiple" />
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" value="submit" id="btnEditProduct" class="btn btn-primary">Edit</button>
                            <button class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            @* ------VIEW PRODUCT IMAGES MODAL---------- *@
            <div class="modal" id="viewProductImagesModal" tabindex="-1">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Product Images</h4>
                            @*<button class="close" data-dismiss="modal">&times;</button>*@
                        </div>
                        <div class="modal-body">
                            <div class="img-wrap" id="ImageField">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/sweetalert2.all.min.js"></script>

    <script>
        function getAllCategories2() {
                $.ajax({
                    url: "@Url.Action("GetAllCategories", "Category")",
                    method: "get",
                    dataType: "json",
                    success: function (data) {
                        var length = data.length;
                        for (var i = 0; i < length; i++) {
                            $("#category2").append('<option value="' + data[i].ID + '">' + data[i].Name + '</option>');
                        }
                    }
                });
            }

            function getAllSuppliers2() {
                $.ajax({
                    url: "@Url.Action("GetAllSupplier", "Supplier")",
                    method: "get",
                    dataType: "json",
                    success: function (data) {
                        var length = data.length;
                        for (var i = 0; i < length; i++) {
                            $("#supplier2").append('<option value="' + data[i].ID + '">' + data[i].Name + '</option>');
                        }
                    }
                });
        }

        function ViewProductImages(ID){
            $.ajax({
                method: "get",
                dataType: "json",
                data: {
                    "ID" : ID
                },
                url: "@Url.Action("GetProductImages", "Product")",
                success: function (result) {
                    $('#ImageField').empty();
                    result.ProductImages.forEach(function (element) {
                        $('#ImageField').prepend('<img src="' + element.PicUrl +'" />')
                    });
                }
            });
        }

        function GetProductDetails(ID) {
            $("#productId").val(ID);

            //uncheck all size before edit
            $("#editX").prop("checked", false);
            $("#editM").prop("checked", false);
            $("#editL").prop("checked", false);
            $("#editXL").prop("checked", false);

            //uncheck all color before edit
            if ($("#editGreen").prop('checked')) {
                $("#editGreen").prop('checked', false);
                $("#btnGreen").trigger('click');
            }
            if ($("#editBlue").prop('checked')) {
                $("#editBlue").prop('checked', false);
                $("#btnBlue").trigger('click');
            }
            if ($("#editWhite").prop('checked')) {
                $("#editWhite").prop('checked', false);
                $("#btnWhite").trigger('click');
            }
            if ($("#editYellow").prop('checked')) {
                $("#editYellow").prop('checked', false);
                $("#btnYellow").trigger('click');
            }
            if ($("#editRed").prop('checked')) {
                $("#editRed").prop('checked', false);
                $("#btnRed").trigger('click');
            }

            $.ajax({
                method: "get",
                dataType: "json",
                data: {
                    "ID" : ID
                },
                url: "@Url.Action("GetProductDetails", "Product")",
                success: function (result) {
                    $("#productName2").val(result.Name);
                    var sizeList = result.Size.split(",");
                    for (var i in sizeList) {
                        $("#edit" + sizeList[i]).prop("checked", true)
                    }
                    var colorList = result.Color.split(",");
                    for (var i in colorList) {
                        $("#edit" + colorList[i]).trigger('click');
                        $("#edit" + colorList[i]).prop('checked', true);
                    }
                    $("#description2").val(result.Description);
                    $("#supplier2").val(result.SupplierId);
                    $("#price2").val(result.Price);
                }
            });
        }
        $(document).ready(function () {
            var table;
            InitDataTable();
            getAllCategories();
            getAllSuppliers();
            getAllCategories2();
            getAllSuppliers2();

            $("#btnAddProduct").click(function () {
                addNewProduct();
            });
            $("#btnEditProduct").click(function () {
                EditProduct();
            });
            $("#btnDelete").click(function () {

            });

            function DeleteProduct() {
                $.ajax({

                });
            }
            function InitDataTable() {
                table = $("#productTable").DataTable({
                    "ajax": {
                        "type": "GET",
                        "url": "@Url.Action("GetAllProducts", "Product")"
                    },
                    columns: [
                        { data: "Name" },
                        { data: "Size" },
                        { data: "Color" },
                        { data: "Description" },
                        { data: "ProductCategory.Name" },
                        { data: "Supplier.Name" },
                        { data: "Price" },
                        {
                            data: 'ID',
                            render: function (data, type, row) {
                                return '<button class="btn btn-primary btn-sm" data-target="#viewProductImagesModal" data-toggle="modal" style="margin-right:5px" onclick="ViewProductImages(' + data + ')"><i class="fa fa-edit"></i>View</button>';
                            }
                        },
                        {
                            data: 'ID',
                            render: function (data, type, row) {
                                return '<button class="btn btn-success btn-sm" data-target="#editProductModal" data-toggle="modal" style="margin-right:5px" onclick="GetProductDetails(' + data + ')"><i class="fa fa-edit"></i>Edit</button><button id="btnDelete" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>Delete</button>';
                            }
                        }
                    ],
                });

            }

            function getAllCategories() {
                $.ajax({
                    url: "@Url.Action("GetAllCategories", "Category")",
                    method: "get",
                    dataType: "json",
                    success: function (data) {
                        var length = data.length;
                        for (var i = 0; i < length; i++) {
                            $("#category").append('<option value="' + data[i].ID + '">' + data[i].Name + '</option>');
                        }
                    }
                });
            }

            function getAllSuppliers() {
                $.ajax({
                    url: "@Url.Action("GetAllSupplier", "Supplier")",
                    method: "get",
                    dataType: "json",
                    success: function (data) {
                        var length = data.length;
                        for (var i = 0; i < length; i++) {
                            $("#supplier").append('<option value="' + data[i].ID + '">' + data[i].Name + '</option>');
                        }
                    }
                });
        }

            function addNewProduct() {
                var size = [];
                $("input[name='size']:checked").each(function () {
                    size.push($(this).attr("value"));
                });
                var color = [];
                $("input[name='color']:checked").each(function () {
                    color.push($(this).attr("value"));
                });
                var formData = new FormData();
                formData.append('name', $("#productName").val());
                formData.append('sizeList', size);
                formData.append('colorList', color);
                formData.append('description', $("#description").val());
                formData.append('categoryID', $("#category").val());
                formData.append('supplierID', $("#supplier").val());
                formData.append('price', $("#price").val());
                $.each($("input[type='file']")[0].files, function (i, file) {
                    formData.append('image', file);
                });
                //formData.append('image[]', $('#image')[0].files);
                $.ajax({
                    url: "@Url.Action("AddNewProduct", "Product")",
                    method: "post",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.success) {
                            swal({
                                type: 'success',
                                title: 'success!',
                            });
                            $("#addProductModal").modal('hide');
                            table.ajax.reload(null, false);
                        }
                    },
                    error: function (data) {
                        swal({
                            type: 'error',
                            title: 'error!',
                        });
                    }
                });
            }

             function EditProduct() {
                var size = [];
                $("input[name='size2']:checked").each(function () {
                    size.push($(this).attr("value"));
                });
                var color = [];
                $("input[name='color2']:checked").each(function () {
                    color.push($(this).attr("value"));
                });
                var formData = new FormData();
                formData.append('name', $("#productName2").val());
                formData.append('sizeList', size);
                formData.append('colorList', color);
                formData.append('description', $("#description2").val());
                formData.append('categoryID', $("#category2").val());
                formData.append('supplierID', $("#supplier2").val());
                formData.append('price', $("#price2").val());
                formData.append('ID', $("#productId").val());
                $.each($("input[type='file']")[0].files, function (i, file) {
                    formData.append('image', file);
                });
                //formData.append('image[]', $('#image')[0].files);
                $.ajax({
                    url: "@Url.Action("EditProduct", "Product")",
                    method: "post",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.success) {
                            swal({
                                type: 'success',
                                title: 'success!',
                            });
                            $("#editProductModal").modal('hide');
                            table.ajax.reload(null, false);
                        }
                    },
                    error: function (data) {
                        swal({
                            type: 'error',
                            title: 'error!',
                        });
                    }
                });
            }

            function refreshTable(id) {
                $(`#${id}`).fnReloadAjax();
            }
        });
    </script>
}